
__pycache__/
.pytest_cache/

.vscode/

# ignore .swp files from vim
*.sw?

# ignore .idea/ directory from pycharm
.idea/

*.pyc

multyscale.egg-info/

docs/_build/
test/odog_MATLAB.mat

docs/reference/_api/
