-r requirements.txt
-r requirements_testing.txt

Sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
nbclient
nbconvert
nbformat
nbsphinx
nbsphinx-link
notebook
rstcheck
widgetsnbextension
